In [1]:
a="pakISTan zinDA bAAD"
print(a)

pakISTan zinDA bAAD

In [2]:
a.capitalize()# inline hay yani real data change nhi hoga aur print k liya shift+enter

'Pakistan zinda baad'

In [3]:
a.lower() # inline hay

'pakistan zinda baad'

In [4]:
a.upper() #inline

'PAKISTAN ZINDA BAAD'

In [5]:
print(a) # check karain real data change nahi howa

pakISTan zinDA bAAD

In [6]:
a.title()

'Pakistan Zinda Baad'

In [7]:
print(a.title()) # is tarah bhi likh saktay hain

Pakistan Zinda Baad

In [8]:
a.format()

'pakISTan zinDA bAAD'

In [9]:
help(print) # print ki command ki help yani is function ki detail

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [10]:
a.casefold()

'pakistan zinda baad'

In [11]:
print(a.casefold())

pakistan zinda baad

In [12]:
print(a.lower())

pakistan zinda baad

In [13]:
print(a.center())

TypeError: center() takes at least 1 argument (0 given)

In [14]:
a.center()

TypeError: center() takes at least 1 argument (0 given)

In [20]:
a="""
*******PIAC********
Saylani Welfare Trust 
name = Muhammed Naveed
father's name = Muhammed Haroon
Roll # = 00458"""
print(a)

*******PIAC********
Saylani Welfare Trust
name = Muhammed Naveed
father's name = Muhammed Haroon
Roll # = 00458

In [21]:
a

"\n*******PIAC********\nSaylani Welfare Trust \nname = Muhammed Naveed\nfather's name = Muhammed Haroon\nRoll # = 00458"

In [35]:
name="Muhamed Naveed"
father_name = "Muhammed Haroon"
roll_no = 742

a="""
*******PIAC********
Saylani Welfare Trust 
name :{}
father's name :{}
Roll # :{}
"""

print(a.format(name, father_name, roll_no))

*******PIAC********
Saylani Welfare Trust
name :Muhamed Naveed
father's name :Muhammed Haroon
Roll # :742

In [33]:
print(name)

Muhamed Naveed

In [38]:
a=input("Enter Your Name= ")

Enter Your Name= muhammed Navee

In [39]:
name=input("Enter Your Name")
father_name = input("Enter your Father Name")
roll_no = input("Enter your Roll number")

a="""
*******PIAC********
Saylani Welfare Trust 
name :{}
father's name :{}
Roll # :{}
"""

print(a.format(name, father_name, roll_no))

Enter Your NameMuhammed Naveed
Enter your Father NameMuhammed haroon
Enter your Roll number745

*******PIAC********
Saylani Welfare Trust
name :Muhammed Naveed
father's name :Muhammed haroon
Roll # :745

In [41]:
number=45+65
number

110

In [42]:
number=45-64
number

-19

In [43]:
number=45/85
number

0.5294117647058824

In [46]:
#% is a modulus yani divide k baad bachi howi value
number=2%5
number

2

number=45//85
number

In [47]:
number=45//85
number

0

In [48]:
4/2

2.0

In [49]:
4//2 #double divide point k baad k result ko ignore karay ga

2

In [50]:
4/3

1.3333333333333333

In [51]:
4//3

1

In [52]:
4*3 # yay simple multiply karay ga

12

In [53]:
4**3 # aur yay power hay yani 4 ki power 3 , yani 4 ko 3 martaba multiple karna hay

64

In [55]:
# = ka matlab hay porani value ko bhol jao new value ko yaad rakho
# += ka matlab hay porani value may new vale ko joor do
a=("naveed")
a+=("haroon")
print(a)

naveedharoon

In [56]:
# -= ka matlab hay poani value say new ko minus kar day ga
# *= ka matlab hay porani value say new ko multiply kar day ga
# /= ka matlab hay porani valus say new ko divide kar day ga
# %= ka matlab hay porani value ap ka modulus lay ga new value k sath aur is ko return kar day ga variable may
n=5
n+=6
print(n)

11

In [57]:
n-=2
print(n)

9

In [58]:
n*=3
n

27

In [59]:
n/=3
n

9.0

In [60]:
n*=3
n

27.0

In [61]:
n//=3
n

9.0

In [62]:
n%=3
n

0.0

In [63]:
n+=8
n%=3
n

2.0

In [ ]:
# if ya else ki command k liyay logical operator use hotay hain example ==,<,>,<=,>=,!=
# == do value ko compare karwanay k liyay hay aur single = value define karnay k liyay hay
# != is ka matlab not equal to
# and , or  yay bhe operator hain, and saray sahi hon to , or agar aik bhi sahi ho to

In [74]:
2+6*8/5(2*3) # complex equation is may pamdas tareqa istimal hoga

TypeError: 'int' object is not callable

In [75]:
2+6*8/5

11.6

In [76]:
f="pakistan"
print(f)

pakistan

In [77]:
f="china"
print(f)

china

In [79]:
f*=6
f

'chinachinachinachinachinachina'

In [80]:
f+="pakistan"
f

'chinachinachinachinachinachinapakistan'

In [81]:
5==5

True

In [82]:
5<=5

True

In [83]:
6<=5

False

In [84]:
5>=6

False

In [85]:
6>=5

True

In [86]:
5==5 and 6==6 and 5>=4

True

In [87]:
5==5 and 6==6 and 5>=6

False

In [88]:
5==5 or 6==6 or 5>=4

True

In [96]:
a="naveed"
b="haroon"
c=5
a+b

'naveedharoon'

In [98]:
a="naveed"
b="haroon"
c=45
a+b+str(c)

'naveedharoon45'

In [99]:
a="1"
b="1"
a+b

'11'

In [100]:
int(a)+int(b)

2

In [ ]:
# ab control flow    if, else, elif , 2 say ziyada logic k liyay elif use hota hay

In [ ]:
if logic:
    true value
else:
    false value

In [ ]:
if logic1:
    true value 1
elif logic 2:
    true value2
elif logic 3:
    true value 3
else:
    false value

In [ ]:
if logic1 and logic2 and logic3:
    value true
else:
    value false

In [101]:
name = input("Enter your name")
if name == "qasim":
    print("teacher")
else:
    print("student")

Enter your nameNaveed
student

In [102]:
name = input("Enter your name")
if name == "qasim":
    print("teacher")
else:
    print("student")

Enter your nameqasim
teacher

In [103]:
name = input("Enter your name")
if name == "qasim":
    print("teacher")
else:
    print("student")

Enter your nameQasim
student

In [ ]:
# yani case sensitive hay

In [105]:
name = input("Enter your name")
if name.lower() == "qasim":
    print("teacher")
else:
    print("student")

Enter your nameQASim
teacher

In [106]:
per = 70
if per >=0:
    print("Fail")
elif per >=35:
    print("Grade F")
elif per >=50:
    print("Grade D")
elif per >=70:
    print("Grade A")
elif per >=90:
    print("Grade A")

Fail

In [109]:
per = 70
if per >=0 and per <35:
    print("Fail")
elif per >=35 and per <50:
    print("Grade F")
elif per >=50 and per <70:
    print("Grade D")
elif per >=70 and per <90:
    print("Grade A")
elif per >=90:
    print("Grade A")

Grade A

In [118]:
# list bana , list edit able hote hay aur tupple non editable
names=["naveed","kashif","huzaifa","jibran"]
names

['naveed', 'kashif', 'huzaifa', 'jibran']

In [119]:
print(names)

['naveed', 'kashif', 'huzaifa', 'jibran']

In [120]:
names[2]="imran"
print(names)

['naveed', 'kashif', 'imran', 'jibran']

In [137]:
names=[]
while True:
    a=input("names")
    if a!="x":
        names.append(a)
    else:
        break

namesNaveed
namesKashif
namesJavaid
namesHammad
namesx