In [1]:
a="pakISTan zinDA bAAD"
print(a)

pakISTan zinDA bAAD

In [2]:
a.capitalize()# inline hay yani real data change nhi hoga aur print k liya shift+enter

'Pakistan zinda baad'

In [3]:
a.lower() # inline hay

'pakistan zinda baad'

In [4]:
a.upper() #inline

'PAKISTAN ZINDA BAAD'

In [5]:
print(a) # check karain real data change nahi howa

pakISTan zinDA bAAD

In [6]:
a.title()

'Pakistan Zinda Baad'

In [7]:
print(a.title()) # is tarah bhi likh saktay hain

Pakistan Zinda Baad

In [8]:
a.format()

'pakISTan zinDA bAAD'

In [9]:
help(print) # print ki command ki help yani is function ki detail

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [10]:
a.casefold()

'pakistan zinda baad'

In [11]:
print(a.casefold())

pakistan zinda baad

In [12]:
print(a.lower())

pakistan zinda baad

In [13]:
print(a.center())

TypeError: center() takes at least 1 argument (0 given)

In [14]:
a.center()

TypeError: center() takes at least 1 argument (0 given)

In [20]:
a="""
*******PIAC********
Saylani Welfare Trust 
name = Muhammed Naveed
father's name = Muhammed Haroon
Roll # = 00458"""
print(a)

*******PIAC********
Saylani Welfare Trust
name = Muhammed Naveed
father's name = Muhammed Haroon
Roll # = 00458

In [21]:
a

"\n*******PIAC********\nSaylani Welfare Trust \nname = Muhammed Naveed\nfather's name = Muhammed Haroon\nRoll # = 00458"

In [35]:
name="Muhamed Naveed"
father_name = "Muhammed Haroon"
roll_no = 742

a="""
*******PIAC********
Saylani Welfare Trust 
name :{}
father's name :{}
Roll # :{}
"""

print(a.format(name, father_name, roll_no))

*******PIAC********
Saylani Welfare Trust
name :Muhamed Naveed
father's name :Muhammed Haroon
Roll # :742

In [33]:
print(name)

Muhamed Naveed

In [38]:
a=input("Enter Your Name= ")

Enter Your Name= muhammed Navee

In [39]:
name=input("Enter Your Name")
father_name = input("Enter your Father Name")
roll_no = input("Enter your Roll number")

a="""
*******PIAC********
Saylani Welfare Trust 
name :{}
father's name :{}
Roll # :{}
"""

print(a.format(name, father_name, roll_no))

Enter Your NameMuhammed Naveed
Enter your Father NameMuhammed haroon
Enter your Roll number745

*******PIAC********
Saylani Welfare Trust
name :Muhammed Naveed
father's name :Muhammed haroon
Roll # :745

In [41]:
number=45+65
number

110

In [42]:
number=45-64
number

-19

In [43]:
number=45/85
number

0.5294117647058824

In [46]:
#% is a modulus yani divide k baad bachi howi value
number=2%5
number

2

number=45//85
number

In [47]:
number=45//85
number

0

In [48]:
4/2

2.0

In [49]:
4//2 #double divide point k baad k result ko ignore karay ga

2

In [50]:
4/3

1.3333333333333333

In [51]:
4//3

1

In [52]:
4*3 # yay simple multiply karay ga

12

In [53]:
4**3 # aur yay power hay yani 4 ki power 3 , yani 4 ko 3 martaba multiple karna hay

64

In [55]:
# = ka matlab hay porani value ko bhol jao new value ko yaad rakho
# += ka matlab hay porani value may new vale ko joor do
a=("naveed")
a+=("haroon")
print(a)

naveedharoon

In [56]:
# -= ka matlab hay poani value say new ko minus kar day ga
# *= ka matlab hay porani value say new ko multiply kar day ga
# /= ka matlab hay porani valus say new ko divide kar day ga
# %= ka matlab hay porani value ap ka modulus lay ga new value k sath aur is ko return kar day ga variable may
n=5
n+=6
print(n)

11

In [57]:
n-=2
print(n)

9

In [58]:
n*=3
n

27

In [59]:
n/=3
n

9.0

In [60]:
n*=3
n

27.0

In [61]:
n//=3
n

9.0

In [62]:
n%=3
n

0.0

In [63]:
n+=8
n%=3
n

2.0

In [ ]:
# if ya else ki command k liyay logical operator use hotay hain example ==,<,>,<=,>=,!=
# == do value ko compare karwanay k liyay hay aur single = value define karnay k liyay hay
# != is ka matlab not equal to
# and , or  yay bhe operator hain, and saray sahi hon to , or agar aik bhi sahi ho to

In [1]:
2+6*8/5+(2*3) # complex equation is may pamdas tareqa istimal hoga

17.6

In [75]:
2+6*8/5

11.6

In [76]:
f="pakistan"
print(f)

pakistan

In [77]:
f="china"
print(f)

china

In [79]:
f*=6
f

'chinachinachinachinachinachina'

In [80]:
f+="pakistan"
f

'chinachinachinachinachinachinapakistan'

In [81]:
5==5

True

In [82]:
5<=5

True

In [83]:
6<=5

False

In [84]:
5>=6

False

In [85]:
6>=5

True

In [86]:
5==5 and 6==6 and 5>=4   # and may sab True honay chahiyain aur OR may koi bhi aik True howi to True kah day ga

True

In [87]:
5==5 and 6==6 and 5>=6

False

In [88]:
5==5 or 6==6 or 5>=4

True

In [96]:
a="naveed"
b="haroon"
c=5
a+b

'naveedharoon'

In [98]:
a="naveed"
b="haroon"
c=45
a+b+str(c)

'naveedharoon45'

In [4]:
a="1"  # agar hum int likhain gay to numeric count karay ga warna as a msg or alpha samjhay ga python
b="1"
a+b

'11'

In [100]:
int(a)+int(b)  # oper Daykhain donu ko sath kar k likh diya count nhi kia

2

In [ ]:
# ab control flow    if, else, elif , 2 say ziyada logic k liyay elif use hota hay

In [14]:
if logic:
    true value
else:
    false value

In [ ]:
if logic1:
    true value 1
elif logic 2:
    true value2
elif logic 3:
    true value 3
else:
    false value

In [ ]:
if logic1 and logic2 and logic3:
    value true
else:
    value false

In [101]:
name = input("Enter your name")
if name == "qasim":
    print("teacher")
else:
    print("student")

Enter your nameNaveed
student

In [102]:
name = input("Enter your name")
if name == "qasim":
    print("teacher")
else:
    print("student")

Enter your nameqasim
teacher

In [103]:
name = input("Enter your name")
if name == "qasim":
    print("teacher")
else:
    print("student")

Enter your nameQasim
student

In [ ]:
# yani case sensitive hay

In [105]:
name = input("Enter your name")
if name.lower() == "qasim":
    print("teacher")
else:
    print("student")

Enter your nameQASim
teacher

In [106]:
per = 70
if per >=0:
    print("Fail")
elif per >=35:
    print("Grade F")
elif per >=50:
    print("Grade D")
elif per >=70:
    print("Grade A")
elif per >=90:
    print("Grade A")

Fail

In [109]:
per = 70
if per >=0 and per <35:
    print("Fail")
elif per >=35 and per <50:
    print("Grade F")
elif per >=50 and per <70:
    print("Grade D")
elif per >=70 and per <90:
    print("Grade A")
elif per >=90:
    print("Grade A")

Grade A

In [118]:
# list bana , list edit able hote hay aur tupple non editable
names=["naveed","kashif","huzaifa","jibran"]
names

['naveed', 'kashif', 'huzaifa', 'jibran']

In [119]:
print(names)

['naveed', 'kashif', 'huzaifa', 'jibran']

In [120]:
names[2]="imran"
print(names)

['naveed', 'kashif', 'imran', 'jibran']

In [137]:
names=[]
while True:
    a=input("names")
    if a!="x":
        names.append(a)
    else:
        break

namesNaveed
namesKashif
namesJavaid
namesHammad
namesx

In [1]:
names=["Naveed","Sohail","Kasahif","Haroon"]  # Working With List
for name in names: 
    print(name.upper())

print("\nThanks")

NAVEED
SOHAIL
KASAHIF
HAROON

Thanks

In [2]:
names=["naveed","sohail","kasahif","haroon"]
for name in names:
    print("Student name is " + name.title())
print("\nEnd of Report")

Student name is Naveed
Student name is Sohail
Student name is Kasahif
Student name is Haroon

End of Report

In [3]:
for value in range(1,5):
    print(value)

1
2
3
4

In [4]:
numbers=list(range(1,11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
even_numbers=list(range(2,21,2))
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [6]:
add_numbers=list(range(1,12,2))
print(add_numbers)

[1, 3, 5, 7, 9, 11]

In [7]:
squares=[]
for value in range(1,11):
    square=value**2
    squares.append(square)
    
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
digits=(1,2,3,4,5,6,7,8,9,0)
min(digits)

0

In [9]:
max(digits)

9

In [10]:
sum(digits)

45

In [11]:
names=["Naveed","Sohail","Kasahif","Haroon"]  # its Called Slicing
print(names[0:3])  # print location 0 to 3

['Naveed', 'Sohail', 'Kasahif']

In [12]:
print(names[:3])   # print from start to 3rd location

['Naveed', 'Sohail', 'Kasahif']

In [15]:
print(names[2:])   # print after 2nd Location

['Kasahif', 'Haroon']

In [16]:
names=["Naveed","Sohail","Kasahif","Haroon"]   # LOOPING THROUGH A SLICE
print("These are Cricket Players :")
for players in names[:3]:
    print(players.title())

These are Cricket Players :
Naveed
Sohail
Kasahif

In [17]:
my_foods=["mango","Banana","Orange"]
my_friends_food=my_foods[:]
print("My Favourite foods are :")
print(my_foods)
print("\nMy Friend fav foods are :")
print(my_friends_food)

My Favourite foods are :
['mango', 'Banana', 'Orange']

My Friend fav foods are :
['mango', 'Banana', 'Orange']

In [18]:
my_foods.append("apple")
print(my_foods)
print(my_friends_food)

['mango', 'Banana', 'Orange', 'apple']
['mango', 'Banana', 'Orange']

In [19]:
my_friends_food=my_foods[:]
print(my_friends_food)

['mango', 'Banana', 'Orange', 'apple']

In [20]:
y_friends_food=my_foods
my_friends_food.append("ice cream")
my_foods.append("Java")
print(my_foods)
print(my_friends_food)

['mango', 'Banana', 'Orange', 'apple', 'Java']
['mango', 'Banana', 'Orange', 'apple', 'ice cream']

In [21]:
name=("naveed","Kashif")  # Yay Tupple Hay
print(name[0])

naveed

In [22]:
ame.append("Danish")  # yani Tupple may additing allow nahi
print(name)

NameError: name 'ame' is not defined

In [23]:
for names in name:
    print("These are the names "+names)

These are the names naveed
These are the names Kashif

In [24]:
names=["Naveed","Sohail","Kasahif","Haroon"]
for name in names:
    if name=="Sohail":
        print(name.upper())
    else:
        print(name)

Naveed
SOHAIL
Kasahif
Haroon

In [25]:
name=("naveed")   # Exactly match nahi N capital nahi is liya false bata rha hay
name=="Naveed"

False

In [26]:
name=("naveed")   #Equality Check karna
name.title()=="Naveed"

True

In [27]:
name=("naveed")    #inequality check karna
if name !="kashif":
    print("Wrong Entry")

Wrong Entry

In [28]:
age=int(input("What is your age ? ")) 
if age >=19:
    print("You Are Adult")

What is your age ? 59
You Are Adult

In [30]:
age=int(input("What is your age ? ")) # agar ksis  element ko kisi aik poption say chk karna hay to else 
if age <=16:
    print("You are child")
else:
    print("You are Adult")

What is your age ? 11
You are child

In [31]:
age=int(input("What is your age ? ")) # agar aik say ziayda option say chk karwana ho to if k baad elif aur last may else.
if age <=16:
    print("You are child")
elif age >=17 and age <=40:
    print("You are Young")
else:
    print("You are Aged")

What is your age ? 59
You are Aged

In [ ]:
List []
Tupple ()
Dictionary{}

In [ ]:
#DICTIONARY

In [32]:
naveed={"colour":"Green","Height":"5.9"}
print(naveed["colour"])

Green

In [33]:
print(naveed["Height"])

5.9

In [34]:
print(naveed)

{'colour': 'Green', 'Height': '5.9'}

In [35]:
naveed["Weight"]=68  # Dictionary may add karnay ka Tareqa
print(naveed)

{'colour': 'Green', 'Height': '5.9', 'Weight': 68}

In [36]:
sohail={}
sohail["Colour"]="White"
print(sohail)

{'Colour': 'White'}

In [37]:
sohail["Height"]=5
print(sohail)

{'Colour': 'White', 'Height': 5}

In [38]:
print("The weight of naveed "+str(sohail["Height"])+".")   # Height chon k intigar format may thi to is ko strng kar ka print

The weight of naveed 5.

In [39]:
print(naveed)

{'colour': 'Green', 'Height': '5.9', 'Weight': 68}

In [40]:
print(naveed["Height"])

5.9

In [41]:
print("The Height of naveed is " +naveed["Height"]+".") # Yahan Height chon k Already Strng may hay is liyay direct print ho gae

The Height of naveed is 5.9.

In [42]:
del naveed["Height"]
print(naveed)

{'colour': 'Green', 'Weight': 68}

In [43]:
favourate_languages={"naveed":"Memoni","Sohail":"Urdu","Samad":"English"}
print("The Favourate language of naveed is "+favourate_languages["naveed"]+".")

The Favourate language of naveed is Memoni.

In [44]:
print(favourate_languages)

{'naveed': 'Memoni', 'Sohail': 'Urdu', 'Samad': 'English'}

In [45]:
for key, value in favourate_languages.items():
    print("\nName     :"+ key.title())
    print("language :"+value)

Name     :Naveed
language :Memoni

Name     :Sohail
language :Urdu

Name     :Samad
language :English

In [46]:
for name, value in favourate_languages.items():
    print("\nMy name is "+name)
    print("My Favourate language is "+value)

My name is naveed
My Favourate language is Memoni

My name is Sohail
My Favourate language is Urdu

My name is Samad
My Favourate language is English

In [49]:
man_1={"name":"naveed","age":"75"}  # Dictionary to list may save/pack  kara diya
man_2={"name":"sohail","age":"81"}
all_brothers=[man_1,man_2]
print(all_brothers)

[{'name': 'naveed', 'age': '75'}, {'name': 'sohail', 'age': '81'}]

In [50]:
man_1={"name":"naveed","age":"75"}   # ab is ko loop may print kar diya
man_2={"name":"sohail","age":"81"}
all_brothers=[man_1,man_2]
for all_brother in all_brothers:
    print(all_brother)

{'name': 'naveed', 'age': '75'}
{'name': 'sohail', 'age': '81'}

In [ ]:
A list in a dictionary

In [51]:
naveed={"colour":"Fair","activities":["styding","playing","Surfing net"]}
print(naveed)

{'colour': 'Fair', 'activities': ['styding', 'playing', 'Surfing net']}

In [61]:
print("Your colour is "+naveed["colour"])
for activity in naveed["activities"]:
    print(activity)

Your colour is Fair
styding
playing
Surfing net

In [81]:
favorite_languages = {'basit': ['python', 'ruby'],'mustafa': ['c'],'naveed': ['Java', 'Python','Excel'],'waqar': ['python', 'haskell']}
for name , languages in favorite_languages.items(): # name key hay aur languages value hay
    print(name.title())

Basit
Mustafa
Naveed
Waqar

In [79]:
favorite_languages = {'basit': ['python', 'ruby'],'mustafa': ['c'],'naveed': ['Java', 'Python','Excel'],'waqar': ['python', 'haskell']}
for name , languages in favorite_languages.items():
    print("\n" + name.title()+"'s"+" favourate languages are :")
    for language in languages:
        print("\t"+language)

Basit's favourate languages are :
	python
	ruby

Mustafa's favourate languages are :
	c

Naveed's favourate languages are :
	Java
	Python
	Excel

Waqar's favourate languages are :
	python
	haskell